[Desktop Entry]
Name=Bluetooth TUI
Comment=Manage Bluetooth devices with a TUI
Exec=wezterm start bluetuith
Icon=bluetooth
Terminal=false
Type=Application
Categories=System;Settings;
