* {
  color: #cdd6f4;
  font-family: "JetBrainsMono Nerd Font", "IBM Plex Sans", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  min-height: 0;
  border-radius: 0px;
  padding-right: 2px;
}

window#waybar {
  background-color: transparent;
}

tooltip {
  background: #1e1e2e;
  border-bottom: 1px solid #94e2d5;
}

.modules-left,
.modules-center,
.modules-right {
  padding-left: 4px;
  padding-right: 4px;
}

#window,
#clock,
#network,
#wireplumber,
#battery,
#backlight,
#workspaces button,
#custom-fan {
  padding: 5px;
  border-bottom: 2px solid #94e2d5;
  background: #1e1e2e;
  box-shadow: 0 2px 6px #94e2d580;
  color: #cdd6f4;
  margin: 2px;
}

#battery.charging,
#workspaces button.active {
  border-bottom: 2px solid white;
}

#workspaces button.urgent {
  border-bottom: 2px solid #f38ba8;
}

#battery.bat_0,
#battery.bat_10,
#battery.bat_20,
#network.disabled,
#network.disconnected,
#wireplumber.muted {
  border-bottom: 2px solid #f38ba8;
}

#battery.bat_30,
#battery.bat_50,
#battery.bat_40 {
  border-bottom: 2px solid #f9e2af;
}
