[Unit]
Description=Rclone Pictures
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=rclone bisync $HOME/Pictures/Wallpapers onedrive:Pictures/Wallpapers --progress $HOME/.rclone-pics.log
Nice=10
IOSchedulingClass=best-effort

[Install]
WantedBy=default.target

